.form {
  max-width: 400px;
  margin: 0 auto 36px;
  border: 1px solid #39536c;
  border-radius: 6px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px #00000066;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.input {
  border: 1px solid #39536c;
  border-radius: 4px;
  padding: 8px;
  font-size: larger;
  background-color: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:hover,
.input:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error {
  color: #db2f47;
}

.btn {
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 6px;
  width: 200px;
  align-self: center;
  color: #ebedf0;
  background-color: #39536c;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background-color: #169c95;
}
