.contactBox {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.nameBox,
.numberBox {
  display: flex;
  gap: 8px;
  align-items: center;
}

.name {
  font-weight: normal;
  font-size: 28px;
}

.number {
  font-size: 24px;
}

.btn {
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}

.btn:hover,
.btn:focus {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #db2f47;
}
