.registerWrapper {
  display: flex;
  gap: 6px;
  margin-top: 12px;
}

.login {
  padding: 12px 84px;
  border: 2px solid #169c95;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 24px;
  color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login:hover,
.login:focus {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 2px solid #fe7733;
}

.link:hover,
.link:focus {
  color: #fe7733;
}

.text {
  font-size: 24px;
}
