.registerWrapper {
  display: flex;
  gap: 6px;
  margin-top: 12px;
}

.login {
  padding: 12px 58px;

  border: 2px solid #169c95;
  border-radius: 4px;

  text-transform: uppercase;
}

.link {
  text-transform: uppercase;
}

.link:hover,
.link:focus {
  color: #fe7733;
  text-decoration: underline;
}
